// Specific CSS for your home-page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.banner h1 {
  margin: 0;
  color: #333333;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-gradient {
  color: #333333;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#ffb400, #ffb400);
  transition: background 0.3s ease;
  border: 1px solid #F3BE42;
  text-decoration: none;
}

.btn-gradient:hover {
  background: linear-gradient(#DB9D0C, #F3BE42);
  color: white;
}
