.container_show {
  padding: 5rem 2rem;
  display: flex;
  justify-content: center;
}
.row_show {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  //gap: 2rem;
}

.col-md-6 {
  flex: 1 1 28%;
  display: flex;
  justify-content: flex-end; // Aligns content to the right in the first column
  //padding-right: 50px;
  margin-right: 100px;
  img {
    max-width: 50%; // Slightly smaller width for spacing
    border-radius: 8px;
    padding: 2px;
    margin: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

}

.col-md-7 {
  flex: 1 1 72%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; // Aligns content to the left in the second column
  text-align: left;

}

     h1 {
      font-size: 2.5rem;
      color: #ffb400;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1rem;
      color: #ffb400;
      line-height: 1.6;
      margin-bottom: 0.8rem;

      strong {
        font-weight: bold;
        color: #333;
      }
    }

    .btn-group {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }

  .btn{
    background-color: #ffb400;
    border: none;
    border-radius: 5px;
  }
