<div class="banner">
  <img scr= "https://unsplash.com/photos/a-close-up-of-a-white-and-gold-object-fR-v9C_5QPg" alt="Banner Image" class="banner-img" style="width:100%; height:auto;">

  <div class="container">
    <div class="text-uppercase">

        <h1>Name of app</h1>
    </div>
    <h2>We bring to you the latest<strong> superpowers</strong> in the whole <strong>world</strong>!</h1>
    <p>Discover our latest superpowers</p>
    <a class="btn btn-primary" href="http://localhost:3000/superpowers">Enter as guest</a>
        <h1>Superpower Envy</h1>
    </div>
    <h2>We bring to you the latest<strong> superpowers</strong> in the whole <strong>world</strong>!</h2>
    <p>VISIT THE ONLINE STORE</p>
    <a class="btn-gradient" href="http://localhost:3000/superpowers">SHOP NOW</a>

  </div>
</div>
