<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(#);">
  <div class="container">
    <div class="text-uppercase">
        <h1>Superpower EnvySwap</h1>
    </div>
    <h2>We bring to you the latest<strong> superpowers</strong> in the whole <strong>world</strong>!</h1>
    <p>Discover our latest superpowers</p>
    <a class="btn-gradient" href="http://localhost:3000/superpowers">Enter as guest</a>
  </div>
</div>
