<body id=container>
  <div class="banner">
    <!-- Horizontal line separator -->
    <hr class="separator">
          <h1 class="title">Superpower Envy</h1>
          <div class="banner-content">
              <p class="tagline">Redefine Your Limits – Discover Superpowers You Can Own</p>
    <!-- Horizontal line separator -->
    <hr class="separator">
              <p class="tagline">VISIT OUR ONLINE STORE</p>
              <%= link_to "RENT NOW", superpowers_path, class: "button" %>
              <a href="http://localhost:3000/superpowers" class="button">RENT NOW</a>
          </div>
  </div>
</body>
