<body id=container>
  <div class="banner">
      <h1 class="title">Superpower Envy</h1>
          <div class="banner-content">
              <p class="tagline">Redefine Your Limits – Discover Superpowers You Can Own</p>
              <p class="tagline">VISIT OUR ONLINE STORE</p>
              <a href="http://localhost:3000/superpowers" class="button">RENT NOW</a>
          </div>
  </div>
</body>
